:root {
  --medium-sea-green: #4dbd90;
  --cornflower-blue: #489fd9;
  --light-slate-gray: #8668ab;
  --gainsboro: #dfe8e4;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 38px;
  font-weight: 500;
  line-height: 44px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

a {
  text-decoration: underline;
}

.navigation {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px #00000021;
}

.nav-link {
  padding: 26px 17px;
  transition: box-shadow .5s, color .3s;
  box-shadow: inset 0 3px #0000;
}

.nav-link:hover {
  box-shadow: inset 0 3px #b5b5b580;
}

.nav-link.w--current {
  color: #409703;
  box-shadow: inset 0 3px #409703;
}

.nav-link.menu {
  display: none;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.main {
  outline-offset: 0px;
  color: #fff;
  background-color: #0000;
  background-image: url('../images/solar-310031_1920.png');
  background-position: 0 0;
  background-size: auto;
  outline: 3px #333;
  margin-top: 94px;
  margin-bottom: 0;
}

.section.main.iframecities {
  color: #fff;
  background-image: none;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.section.main.iframecities.lueneburg {
  color: #7a7a7a;
  background-image: none;
}

.section.main.textshadow {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: url('../images/black-solar.jpg');
  background-position: 0 0;
  background-size: cover;
  margin-top: auto;
}

.section.footer {
  color: #e4e8eb;
  background-color: #2b2c2e;
  padding-top: 42px;
  padding-bottom: 42px;
}

.section.footer.copyright {
  color: #939596;
  background-color: #1c1d1f;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 14px;
}

.slider {
  background-color: #303030;
  height: 360px;
  display: none;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.social-icon {
  opacity: .41;
  margin-right: 11px;
  font-size: 18px;
  line-height: 18px;
  transition: opacity .3s;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  text-transform: uppercase;
  margin-top: 0;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
}

.page-link {
  color: #489fd9;
  border-bottom: 1px solid #0000;
  text-decoration: none;
  transition: color .3s, border .3s;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  color: #939596;
  display: block;
}

.page-link.in-footer:hover {
  color: #d2d7d9;
  border-bottom-color: #0000;
}

.brand-link {
  text-decoration: none;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.yourcity-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template: "Area Area"
                 ". ."
                 / minmax(200px, 1fr);
  grid-auto-columns: minmax(200px, 1fr);
  margin-top: 40px;
  display: grid;
}

.solarcitychartcontainer {
  padding-left: 0;
}

.navigationcontainer {
  align-items: center;
}

.solarcitycontainer {
  margin-top: 0;
  margin-bottom: 0;
}

.yourcityform {
  padding-top: 20px;
  padding-bottom: 100px;
}

.heading {
  display: inline-block;
}

.yourcity-submit-button {
  background-color: #409703;
}

.error-message {
  background-color: #b90808;
}

.success-message-2 {
  background-color: #409703;
  margin-top: 20px;
  padding-top: 20px;
}

.div-block-2, .div-block-3 {
  color: #fff;
}

.paragraph {
  outline-offset: 0px;
  letter-spacing: normal;
  text-transform: none;
  outline: 3px #333;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.paragraph.koeln {
  color: #666;
  outline-color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
}

.paragraph.muenchen {
  color: #011633;
  font-family: Roboto, sans-serif;
}

.paragraph.lueneburg {
  outline-color: #7a7a7a;
}

.paragraph.main {
  color: #fff;
  background-color: #0000;
  font-weight: 500;
}

.paragraph.updated {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

.paragraph.bold.italic {
  font-style: italic;
}

.crowdfundingimagewrapper {
  text-align: center;
}

.crowdfundingimagewrapper.single {
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox-label {
  text-align: left;
  flex: 0 auto;
  margin-left: 10px;
  font-weight: 500;
}

.checkbox-label.koeln {
  color: #666;
  font-size: 20px;
  line-height: 26px;
}

.checkbox-label.muenchen {
  color: #011633;
  text-shadow: none;
}

.checkbox {
  outline-offset: 0px;
  text-align: left;
  white-space: normal;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: 3px #fff;
  width: 16px;
  height: 16px;
  margin-top: 0;
  display: block;
  position: static;
}

.checkbox:active {
  text-shadow: none;
}

.checkbox.w--redirected-checked {
  background-color: #011633;
  border-color: #ccc;
  border-radius: 20px;
  width: 16px;
  height: 16px;
  padding-left: 0;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.checkbox.w--redirected-focus-visible {
  text-shadow: none;
}

.checkbox.muenchen {
  border-color: #011633;
  outline-color: #fff;
}

.checkbox.koeln {
  border-color: #666;
}

.checkbox.lueneburg {
  border-color: #7a7a7a;
}

.checkbox-field {
  align-items: center;
  font-weight: 500;
  display: flex;
}

.checkbox-field.lueneburg, .checkbox-field.munchen {
  text-shadow: none;
}

.container.writeform {
  background-color: #fff;
  padding: 20px;
}

.container.mail {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

.crowdfundingimage {
  width: 55%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.crowdfundingimage.single {
  width: 70%;
  margin-bottom: 10px;
}

.solaroverviewcolumn {
  margin-bottom: 20px;
}

.highcharts-figure {
  text-shadow: none;
  min-height: 400px;
}

.highcharts-figure.your-city {
  min-height: 0;
}

.html-embed {
  display: block;
}

.mailing {
  background-image: url('../images/mail-1048452_1920.jpg');
  background-position: 0 0;
  background-size: cover;
  margin-top: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.writeyourlandloard-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.greenbutton, .success-message-3 {
  background-color: #409703;
}

.div-block-5 {
  color: #fff;
}

.paragraph-5 {
  display: block;
}

.yellowgreenbutton {
  color: #000;
  background-color: #cde846;
  border: 1px #000;
  margin-top: 15px;
  margin-bottom: 0;
  margin-right: 0;
  font-weight: 500;
  transition: all .2s;
  display: inline-block;
}

.yellowgreenbutton:hover {
  background-color: #e1f57d;
  transform: translate(0);
}

.yellowgreenbutton.first {
  text-shadow: none;
  margin-top: 0;
}

.logo {
  width: 180px;
  display: block;
}

.main {
  background-color: #0000;
  margin-bottom: 70px;
}

.bold {
  font-weight: 500;
}

.bold.koeln {
  color: #666;
}

.link-block {
  display: block;
}

.textarea {
  min-height: 11em;
}

.koelnbody {
  color: #666;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  font-family: Candara, sans-serif;
  font-size: 20px;
  line-height: 1.4em;
}

.html-embed-2 {
  margin-bottom: 0;
}

.language {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 70px;
  display: inline-block;
}

.language.nav-link {
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: inline-block;
}

.language.nav-link:hover {
  box-shadow: none;
}

.image {
  text-align: left;
  max-height: 2rem;
  overflow: visible;
}

.errormessagelink {
  color: #fff;
  display: inline;
}

.lueneburg {
  color: #7a7a7a;
}

.text-span-2 {
  font-style: italic;
}

.paragraphcontainer {
  margin-bottom: 20px;
}

.grid {
  grid-template-rows: auto auto auto;
  grid-template-areas: ". ."
                       "Area Area"
                       ". .";
}

.whitelink {
  color: #fff;
}

.loadercontainer {
  justify-content: center;
  animation: 2s linear infinite spin;
  display: flex;
  position: fixed;
}

.loader {
  border: 1px solid #000;
  border-radius: 50%;
  width: 20em;
  height: 20em;
}

.loadercontainerdiv {
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .koelnbody {
    max-width: 830px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    color: #fff;
    padding: 18px 0;
  }

  .nav-link:hover {
    box-shadow: inset 0 3px #0000;
  }

  .nav-link.w--current {
    box-shadow: inset 0 1px #0000;
  }

  .nav-link.menu {
    color: #000;
    flex: 0 auto;
    align-self: auto;
    padding: 22px 17px;
    font-size: 30px;
    display: flex;
  }

  .nav-link.menu.w--open {
    color: #fff;
    background-color: #000;
  }

  .section.main {
    margin-top: 85px;
  }

  .section.main.textshadow {
    background-position: 0 0;
  }

  .nav-menu {
    background-color: #000;
    flex: none;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .brand-link {
    flex: 1;
  }

  .brand-link.w--current {
    flex: 1;
    align-self: auto;
  }

  .navigationcontainer {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .crowdfundingimage {
    width: 60%;
    margin-bottom: 20px;
  }

  .mailing {
    background-position: 50%;
  }

  .yellowgreenbutton.first {
    margin-top: 10px;
  }

  .koelnbody {
    max-width: 1080px;
  }

  .language.nav-link {
    display: none;
  }

  .image {
    width: 50px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }

  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .section {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .section.main {
    margin: 53px 0 0;
  }

  .section.main.textshadow {
    background-position: 50% 0;
    background-size: cover;
  }

  .section.footer {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-menu {
    flex: none;
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-title {
    margin-top: 35px;
  }

  .brand-link, .brand-link.w--current {
    flex: 1;
  }

  .solarcitychartcontainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .solarcitycontainer {
    margin-top: 43px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .yourcityform {
    padding: 40px 0;
  }

  .paragraph {
    text-align: left;
  }

  .paragraph.koeln {
    font-size: 16px;
  }

  .paragraph.updated {
    justify-content: center;
    display: flex;
  }

  .checkbox-field {
    justify-content: center;
    margin-bottom: 20px;
  }

  .heading-3 {
    text-align: left;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container.writeform {
    background-color: #fff;
  }

  .solaroverviewcolumnwrapper {
    flex-direction: column-reverse;
    display: flex;
  }

  .crowdfundingimage {
    width: 68%;
    margin-bottom: 20px;
  }

  .crowdfundingimage.single {
    width: 95%;
  }

  .solaroverviewcolumn, .onlypreviousadditionscolumn {
    padding-left: 0;
    padding-right: 0;
  }

  .mailing {
    padding: 43px 0;
  }

  .logo {
    width: 122px;
    max-width: 100%;
  }

  .main {
    margin-bottom: 43px;
  }

  .updateddatespan {
    margin-left: .25em;
  }
}

@media screen and (max-width: 479px) {
  .section {
    margin-left: 0;
    margin-right: 0;
  }

  .section.main {
    margin: 53px 0 0;
  }

  .section.main.textshadow {
    background-position: 50% 0;
    display: block;
  }

  .nav-menu {
    flex: none;
  }

  .brand-link.w--current {
    flex: 1;
  }

  .yourcity-form-grid {
    grid-template-columns: minmax(0%, 1fr);
  }

  .yourcityform {
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph {
    text-align: left;
  }

  .paragraph.koeln {
    font-size: 16px;
  }

  .paragraph.updated {
    justify-content: flex-end;
  }

  .crowdfundingimagewrapper {
    width: 100%;
  }

  .checkbox-label {
    text-shadow: 0 1px 1px #0003;
  }

  .checkbox-label.koeln {
    font-size: 16px;
  }

  .checkbox {
    overflow-wrap: normal;
  }

  .checkbox-field {
    text-align: center;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-block {
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
  }

  .crowdfundingimage {
    width: 100%;
    margin-bottom: 20px;
  }

  .solaroverviewcolumn {
    flex: 0 auto;
    position: relative;
  }

  .mailing {
    background-position: 50%;
  }

  .logo {
    width: 71%;
    display: block;
  }

  .logo.charts {
    width: 50%;
  }

  .image {
    width: auto;
    max-width: 100%;
    max-height: 1.5rem;
  }

  .text-span {
    text-shadow: 0 1px 1px #0003;
  }
}

#main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc17, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc17 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_7f937560-4a02-f175-0a28-7187744429db-8cfdcc20, #w-node-_3df63255-6e61-b663-0883-02a63681bd27-8cfdcc22 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc26, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc26 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc29, #w-node-_7f937560-4a02-f175-0a28-7187744429db-8cfdcc29 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-b3ec3010-3def-a5cd-94b8-22e534c07c1f-8cfdcc2a {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_7f937560-4a02-f175-0a28-7187744429db-8cfdcc2d {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc2f, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc2f {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc32, #w-node-_7f937560-4a02-f175-0a28-7187744429db-8cfdcc32, #w-node-_3df63255-6e61-b663-0883-02a63681bd27-8cfdcc34 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
  #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc17, #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc26, #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc2f {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media screen and (max-width: 767px) {
  #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc17, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc17, #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc26, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc26, #w-node-b3ec3010-3def-a5cd-94b8-22e534c07c1f-8cfdcc2a, #main.w-node-_4dcb9fa0-dee2-e472-83d1-a8c9a04c6caa-8cfdcc2f, #w-node-_667f6770-78ca-7e66-357a-b7e8d87eb2e0-8cfdcc2f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7f937560-4a02-f175-0a28-7187744429cb-8cfdcc20, #w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc20, #w-node-_3df63255-6e61-b663-0883-02a63681bd27-8cfdcc22, #w-node-_213465c8-e477-3285-8380-f761968e2ce9-8cfdcc22, #w-node-b540c3a8-2f1c-e121-98c1-6efb394d85b6-8cfdcc22, #w-node-_7f937560-4a02-f175-0a28-7187744429cb-8cfdcc29, #w-node-_8b39acfe-43db-abcd-b2b4-65a59edaa043-8cfdcc29, #w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc29, #w-node-_7f937560-4a02-f175-0a28-7187744429cb-8cfdcc2d, #w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc2d, #w-node-_7f937560-4a02-f175-0a28-7187744429cb-8cfdcc32, #w-node-_8b39acfe-43db-abcd-b2b4-65a59edaa043-8cfdcc32, #w-node-_7f937560-4a02-f175-0a28-7187744429d3-8cfdcc32, #w-node-_3df63255-6e61-b663-0883-02a63681bd27-8cfdcc34, #w-node-_213465c8-e477-3285-8380-f761968e2ce9-8cfdcc34, #w-node-b540c3a8-2f1c-e121-98c1-6efb394d85b6-8cfdcc34 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


@font-face {
  font-family: 'Candara';
  src: url('../fonts/CANDARA.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}